@using online_book_store.WebUI.Models
@using online_book_store.WebUI.HtmlHelpers
@model BooksListViewModel

@{
    ViewBag.Title = "Товары";
}

@foreach (var p in @Model.Books)
{
    @Html.Partial("BookSummary", p)
}
<div>
    @Html.PageLinks(Model.PagingInfo, x => Url.Action("List", new { page = x }))
</div>
